{% extends "layouts/main.html" %}

{% block content %}

<h1>Subir nueva pelicula</h1>

<form method="POST" action="">
    {% csrf_token %}
    

    <div class="form-group my-3">
        <label> Titulo </label>
        <input type="text" class="form-control" name="title" placeholder="Titulo">
    </div>

    <div class="form-group my-3">
        <label> Genero </label>
        <select name="genero">
            <option value="Accion">Accion</option>
            <option value="Terror">Terror</option>
            <option value="Drama">Drama</option>
            <option value="Documental">Documental</option>
            <option value="Comedia">Comedia</option>
            <option value="Romantica">Romantica</option>
            <option value="Ciencia Ficcion">Ciencia Ficcion</option>
            <option value="Animada">Animada</option>
        </select>
    </div>

    <div class="form-group my-3">
        <label> Sinopsis </label>
        <textarea class="form-control" name="sinopsis"></textarea>
    </div>

    <div class="form-group my-3">
        <label> Director </label>
        <input type="text" class="form-control" name="director" placeholder="director">
    </div>

    <div class="form-group my-3">
        <label> Nacionalidad </label>
        <input type="text" class="form-control" name="nacionalidad" placeholder="nacionalidad">
    </div>


    <input type="file" class="form-control" name="image"/>


    <button class="btn btn-primary" type="submit">Enviar</button>
</form>

{% endblock %}